<div class="row any-width">
  <div class="twelvecol featured-challenge-image">
    <%= link_to(image_tag(challenge.display_media), project_challenge_path(@project, challenge))  %>
  </div>
</div>

<div class="row any-width">
  <div class="challenger twocol">
    <div class="challenger-image">
      <%= image_tag(challenge.owner_avatar) %>
    </div>
    <span class="user-name"><%= link_to challenge.name, "#" %></span>
  </div>

  <div class="challenge-description sixcol">
    <div>
      Will <span class="challenge-action"><%= challenge.title %></span>
    </div>
  </div>

  <div class="fourcol last">
    <div class="challenge-donate">
      <%= link_to "Give", challenge.project.proposal_url, target: "_blank", class: "give-link" %>
    </div>
    <div>
      <%= link_to("View Challenge", project_challenge_path(@project, challenge), class: "challenge-link")  %>
    </div>
  </div>
</div>
