<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      <span class="number">1.</span> Find a <a href="http://www.donorschoose.org/" target="blank">Donor's Choose</a> project you'd like to support. Find one on their site or pick from our <%= link_to "list", projects_path %>.
    </div>
  </div>
  <div class="onecol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
  <div class="fivecol last">
    <%= image_tag("images/how-to-1.png") %>
  </div>
</div>

<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      <p><span class="number">2.</span> Challenge the world by posting a task you'll perform when the project reaches a funding goal.</p>
      <p><span class="bold">Community service</span> to <span class="bold">egregious facial hair</span> -- Anything Goes!</p>
    </div>
  </div>
  <div class="onecol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
  <div class="fivecol last">
    <%= image_tag("images/how-to-2.png") %>
  </div>
</div>

<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      <span class="number">3.</span> Goad your friends and family to donate! Your loss will be the gain of children across the country.
    </div>
  </div>
  <div class="onecol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
  <div class="fivecol last">
    <%= image_tag("images/how-to-3.png") %>
  </div>
</div>

<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      <span class="number">4.</span> Post evidence to prove you're legit. (Positive reinforcement will keep 'em coming back for more)
    </div>
  </div>
  <div class="onecol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
  <div class="fivecol last">
    <%= image_tag("images/how-to-4.png") %>
  </div>
</div>
