<div class="container">
  <div class="row project">
    <%= render partial: "project_info_bar" %>
  </div>
  <div class="row spacer"></div>

  <div class="challenges">
    <div class="row challenges-headers">
      <h1 class="sixcol">Featured Challenge</h1>
      <h1 class="sixcol last">Other challenges for this project:</h1>
    </div>
    <div class="row">
      <div class="sixcol">
        <div class="featured-challenge">
          <div class="row any-width">
            <% if @challenges.any? %>
              <div class="challenge-details twelvecol">
                <div class="row any-width">
                  <h3>This challenge has almost met its goal — Push it over the edge by making a donation!</h3>
                </div>
                <div class="row any-width">
                  <div class="twelvecol featured-challenge-image">
                    <%= link_to(image_tag(@challenges.first.display_media), project_challenge_path(@project, @challenges.first))  %>
                  </div>
                </div>
                <div class="row any-width">
                  <div class="challenger twocol">
                    <div class="challenger-image">
                      <img src="https://si0.twimg.com/profile_images/1373765588/Verdi_reasonably_small.jpg">
                    </div>
                    <span class="user-name"><%= link_to @challenges.first.name, "#" %></span>
                  </div>
                  <div class="challenge-description sixcol">
                    <div>
                      <span class="challenge-will">WILL:</span>
                      <span class="challenge-action"><%= @challenges.first.title %></span>
                    </div>
                    <div>
                      <span class="challenge-if">IF:</span><span class="challenge-condition">the project reaches $<%= @challenges.first.amount %></span>
                    </div>
                  </div>
                  <div class="fourcol last">
                    <div class="challenge-money">
                      <div class="challenge-progress">
                        <span class="dollars-left">$84</span>
                        <p class="to-go">To Go</p>
                      </div>
                      <div class="challenge-donate">
                        <%= link_to "Give", @challenges.first.project.fund_url, class: "give-link" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="active-challenges sixcol last">
        <div class="feed-challenges">
          <% @challenges.each do |challenge| %>
            <div class="row any-width">
              <div class="feed-challenge" id="feed-challenge-<%=challenge.id%>">
                <div class="twocol">
                  <%= link_to(image_tag(challenge.display_media), project_challenge_path(@project, challenge))  %>
                </div>
                <span class="challenge-feed-name">
                  <%= challenge.name %> will:
                </span>
                <span class="challenge-feed-title">
                  <%= challenge.title %>
                </span>
                <div class="challenge-feed-amount">
                  When the project raises <%= challenge.amount %> dollars! <%= link_to("View Challenge", project_challenge_path(@project, challenge), class: "challenge-link")  %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="new-challenge-link">
          Add your contribution to the effort: <%= link_to "Post a challenge!", new_project_challenge_path(:project_id => @project.id) %>
        </div>

      </div>

    </div>
  </div>


  <div class="row spacer"></div>

  <div class="row">
    <div id="feed" class="sixcol">
      <h1 class="feed-title">Project Activity Feed</h1>
        <div class="message_form">
          <%= form_for [@project, @new_message] do |f| %>
            <%= f.text_field :name, placeholder: "Name" %>
            <%= f.text_field :body, placeholder: "Message" %>
            <%= f.submit %>
          <% end %>
        </div>
        <div>
        <% @feed.items.each do |item| %>
          <%= render item %>
        <% end %>
        </div>
    </div>

  </div>
</div>

