<%= @project.title %>

<% @messages.each do |message| %>
  <div class="message"><%= message.name %>: <%= message.body %></div>
<% end %>

  <div class="row">
    <div class="fourcol" id="missions">
      <h3>Add A Mission</h3>
        <ul class="mission-types">
          <li class="mission-type">Donate</li>
          <li class="mission-type">Tweet</li>
          <li class="mission-type">Make a Video</li>
          <li class="mission-type">Blog about it</li>
          <li class="mission-type">Friend Donation</li>
          <li class="mission-type">Send an email</li>
          <li class="mission-type">Post Mad Bills</li>
          <li class="mission-type">Fbook it!</li>
        </ul>
    </div>

    <div class="eightcol last" id="missions">
      <h3>Captain's Log</h3>
        <ul class="mission-log">
          <li class="mission"><%= image_tag "icons/twitter-32x32.png" %>Tweet the link to your followers!<span class="completed">4x</span><span class="log-mission">+</span></li>
          <li class="mission"><%= image_tag "icons/meetup-32x32.png" %>Put up some flyers in the neighborhood!<span class="completed">3x</span><span class="log-mission">+</span></li>
          <li class="mission"><%= image_tag "icons/viddler-32x32.png" %>Make a funny video to promote the project!<span class="completed">0x</span><span class="log-mission">+</span></li>
          <li class="mission"><%= image_tag "icons/forrst-32x32.png" %>Make a $10 donation<span class="completed">1x</span><span class="log-mission">+</span></li>
          <li class="mission"><%= image_tag "icons/facebook-32x32.png" %>Share the project on Facebook<span class="completed">6x</span><span class="log-mission">+</span></li>
        </ul>
    </div>
  </div>
</div>

<%= form_for [@project, @new_message] do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :body, placeholder: "Message" %>
  <%= f.submit %>
<% end %>

<%= link_to "Create New Challenge", new_project_challenge_path(:project_id => @project.id) %>
