<div class="container">
  <div class="row project">
    <%= render partial: "project_info_bar" %>
  </div>
  <div class="row spacer"></div>

    <div class="row challenges-headers">
      <h1 class="sixcol"><%= @project.title %> </h1>
      <div id="progress-box" class="sixcol last">
        <div class="meter orange">
          <span style="width: 30%"></span>
        </div>
      </div>
    </div>

  <div class="challenges">
    <div class="row">

    <div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->


      <div class="sixcol">
        <div class="featured-challenge">
          <div class="row any-width">
            <div class="tab-content">
              <%= render partial: "challenge_tab_contents", locals: {challenges: @challenges} %>
            </div>
          </div>
        </div>
      </div>


      <div class="active-challenges sixcol last">
        <%= render partial: "challenge_nav_tabs", locals: {challenges: @challenges} %>

        <div class="new-challenge-link">
          Contribute to the effort: <%= link_to "Post a challenge!", new_project_challenge_path(:project_id => @project.id) %>
        </div>
      </div>
    </div>
    </div> <!-- end tabbable tabs-right -->
  </div> <!-- end challenges -->
</div> <!--end container -->


