<div class="container">
  <div class="row project">
    <%= render partial: "project_info_bar" %>
  </div>
  <div class="row spacer"></div>
  <div class="row">
    <div class="twelvecol challenges">
      <h1>Featured Challenge</h1>
      <div class="featured-challenge">
        <div class="row any-width">
          <% if @challenges.any? %>
            <div class="challenge-details twelvecol">
              <div class="row any-width">
                <div class="twelvecol featured-challenge-image">
                  <%= link_to(image_tag(@challenges.first.display_media), project_challenge_path(@challenges.first))  %>
                </div>
              </div>
              <div class="row any-width">
                <div class="challenger twocol">
                  <div class="challenger-image">
                    <img src="https://si0.twimg.com/profile_images/1373765588/Verdi_reasonably_small.jpg">
                  </div>
                  <span class="user-name"><%= link_to @challenges.first.name, "#" %></span>
                </div>
                <div class="challenge-description sixcol">
                  <div>
                    <span class="challenge-will">WILL:</span>
                    <span class="challenge-action"><%= @challenges.first.title %></span>
                  </div>
                  <div>
                    <span class="challenge-if">IF:</span><span class="challenge-condition">the project reaches $<%= @challenges.first.amount %></span>
                  </div>
                </div>
                <div class="fourcol last">
                  <div class="challenge-money">
                    <div class="challenge-progress">
                      <span class="dollars-left">$84</span>
                      <p class="to-go">To Go</p>
                    </div>
                    <div class="challenge-donate">
                      <%= link_to "Give", @challenges.first.project.fund_url, class: "give-link" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelvecol">
      <%= link_to "Create New Challenge", new_project_challenge_path(:project_id => @project.id) %>
    </div> 
  </div>

  <div class="row">
    <div class="twelvecol">
    </div>
  </div>
  <div class="row">
    <div id="feed" class="sixcol last">
      <h1 class="feed-title">Project Activity Feed</h1>
        <div class="message_form">
          <%= form_for [@project, @new_message] do |f| %>
            <%= f.text_field :name, placeholder: "Name" %>
            <%= f.text_field :body, placeholder: "Message" %>
            <%= f.submit %>
          <% end %>
        </div>
        <div>
        <% @feed.items.each do |item| %>
          <%= render item %>
        <% end %>
        </div>
    </div>
  </div>
</div>

