<div class="container">
  <div class="row project">
    <%= render partial: "project_info_bar" %>
  </div>
  <div class="row spacer"></div>

    <div class="row challenges-headers">
      <h1 class="sixcol">Featured Challenge</h1>
      <div id="progress-box" class="sixcol last">
        <div class="meter orange">
          <span style="width: 30%"></span>
        </div>
      </div>
    </div>

  <div class="challenges">
    <div class="row">

    <div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->


      <div class="sixcol">
        <div class="featured-challenge">
          <div class="row any-width">
            <div class="tab-content">

              <div class="challenge-details twelvecol tab-pane active" id="tab<%=@challenges.first.id%>">
                <%= @challenges.first.id %>
              </div>

              <% @challenges[1..-1].each do |challenge| %>
                <div class="challenge-details twelvecol tab-pane" id="tab<%=challenge.id%>">
                  <%= challenge.id %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <div class="active-challenges sixcol last">
        <ul class="feed-challenges nav nav-tabs">
            <li class="feed-challenge active" id="feed-challenge-<%=@challenges.first.id%>">
              <a href="#tab<%=@challenges.first.id%>" data-toggle="tab">
                <%= @challenges.first.id %>
              </a>
            </li>

          <% @challenges[1..-1].each do |challenge| %>
            <li class="feed-challenge" id="feed-challenge-<%=challenge.id%>">
              <a href="#tab<%=challenge.id%>" data-toggle="tab">
                <%= challenge.id %>
              </a>
            </li>
          <% end %>
        </ul>

        <div class="new-challenge-link">
          Contribute to the effort: <%= link_to "Post a challenge!", new_project_challenge_path(:project_id => @project.id) %>
        </div>
      </div>
    </div>
    </div> <!-- end tabbable tabs-right -->
  </div> <!-- end challenges -->
</div> <!--end container -->


