<%= @project.title %>

<% @messages.each do |message| %>
  <div class="message"><%= message.name %>: <%= message.body %></div>
<% end %>

<%= form_for [@project, @new_message] do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :body, placeholder: "Message" %>
  <%= f.submit %>
<% end %>
<div class="container">

  <div class="row">
    <div class="featured-challenge sixcol">
      <h1>Featured Challenge</h1>
      <div class="challenge">
        <div class="row any-width">
          <div class="profile-pic twocol">
            <img src="https://si0.twimg.com/profile_images/1373765588/Verdi_reasonably_small.jpg">
          </div>
          <div class="challenge-details tencol last">
            <img class="challenge-media" src="http://goosenationlax.files.wordpress.com/2012/03/0000008565-photo-1.jpg">

            <div class="row any-width">
              <div class="challenge-description eightcol">
                <span class="user-name"><%= link_to "Michael Verdi", "#" %></span>
                <div>
                  <span class="challenge-will">WILL:</span>
                  <span class="challenge-action">grow a gnarly 'stache</span>
                </div>
                <div>
                  <span class="challenge-if">IF:</span><span class="challenge-condition">the project reaches $400</span>
                </div>
              </div>
              <div class="challenge-progress fourcol last">
                <p class="dollars-left">$84</p>
                <p>To Go</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="sixcol last">
      <div id="feed">
        <h1>Project Activity</h1>
        <div id="feed-entries">
          <div class="feed-entry">
            <p>A message here</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="threecol project-details">
      <div id="project-photo">
        <%= image_tag @project.image_url %>
      </div>
      <div id="progress-box">
        <h1>25 Days Left</h1>
        <div id="progress-bar">
          <div id="succeeded-bar">
          </div>
        </div>
      </div>
      <h1><span class="highlight"><%= link_to @project.title, @project.proposal_url %></span></h1>
      <br>
      <h3><%= @project.school_name %></h3>
      <h3><%= @project.city + ", " + @project.state_abbr %></h3>
      <h3>Donors: 22</h3>
    </div>
    <div class="ninecol last">
      <h1>Project Activity Feed</h1>

    </div>
  </div>
</div>
