<h1>Finished Challenged?</h1>
<h3>Submit Evidence Here</h3>
<%= form_for [@project, @challenge, @challenge_evidence] do |f| %>
  <%= f.hidden_field :challenge_id, :value => @challenge.id  %>
  <%= f.label :image, "Prove It" %>
  <br>
  <%= f.file_field :image %>
 <br>
  <%= f.label :external_url, "or Enter a URL to an image or video on the web" %><br />
  <%= f.text_field :external_url %></br>
  <%= f.submit "Submit" %>
<% end %>