<h2>Completed this challenge? Post evidence for the world to see:</h2>
<%= form_for [@project, @challenge, @challenge_evidence] do |f| %>
  <%= f.hidden_field :challenge_id, :value => @challenge.id  %>
  <div>
  <%= f.file_field :image %>
  </div>
  <div>
  <%= f.label :external_url, "or Enter a URL to an image or video on the web" %>
  </div>
  <%= f.text_field :external_url %></br>
  <%= f.submit "Submit" %>
<% end %>
