<h1>Create a new challenge</h1>
<div class="well">
  <%= form_for [@project, @challenge] do |f| %>
    <% [:name, :title, :amount, :display_media].each do |field| %>
      <h3>
        <%= f.label field %>
        <span class="inline-error"><%= @challenge.errors[field].join(", ") %></span>
      </h3>
      <%= f.text_field field %>
    <% end %>

    <%= f.hidden_field :project_id, :value => @project.id  %>
    </br>
    <%= f.submit class: "form-submit small" %>
  <% end %>
</div>