<div id="create-challenge-box">
    <%= form_for [@project, @challenge] do |f| %>
      <div id="pledge-form">
        I,
        John Doe, do swear and affirm that
        I will
        <%= f.text_field :title, disabled: true, placeholder: "perform a stunning/humiliating stunt" %><br>
        should the aforementioned project raise
        <%= f.text_field :amount, disabled: true, placeholder: "a monetary sum up to $#{@project.cost_to_complete.to_i}" %><br>
        more dollars. The following media link demonstrates my
        commitment to the cause:
        <%= f.text_field :display_media, disabled: true, class: "url-input", placeholder: "http://www.youtube.com/mynewhaircut" %>
      </div>
    <% end %>
  <div id="challenge-form-obscurer"></div>
  <div id="sign-in-box">
    <%= link_to "Sign in with Twitter to create a new challenge", "/auth/twitter" %>
  </div>
</div>
