<h1>Creating a new challenge</h1>

<%= form_for @challenge do |f| %>
  <%= f.label :name_of_challenger, "Name" %>
  <%= f.text_field :name_of_challenger %>

  <%= f.label :title_of_challenge, "Challenge" %>
  <%= f.text_field :title_of_challenge %>

  <%= f.label :minimum_amount, "Minimum Amount" %>
  <%= f.text_field :minimum_amount %>

  <%= f.label :maximum_amount, "Maximum Amount" %>
  <%= f.text_field :maximum_amount %>

  <%= f.hidden_field :project_id, :value => @project_id  %>

  <%= f.submit %>
<% end %>
