<div class="container">

  <div class="single-challenge-overview">
    <div class="row spacer"></div>
    <div>
    <div class="challenge-banner <%= challenge_banner_class(@challenge) %>">
      <div class="row">
        <div class="twelvecol">
          <%= challenge_banner_message(@challenge).html_safe %>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="sixcol">
        <h1><span>Challenge: </span><span><%= @challenge.title.titleize %></span></h1>
      </div>
      <div class="sixcol last">
        <h1>Evidence for this challenge:</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="sixcol">
      <%= image_tag(@challenge.display_media) %>
      <div class="row any-width">
        <div class="single-challenge-details">
          <div class="twocol">
            <%= image_tag(@challenge.user.profile_image_url) %>
          </div>
          <div class="tencol last">
            <h3><span>Challenger: </span><span><%= @challenge.name %></span></h3>
          </div>
        </div>
        <div class="row any-width">
          <div class="ninecol last">
            <h3><span>For Project: </span><span><%= link_to(@challenge.project.title, project_path(@challenge.project)) %></span></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="sixcol last">
      <% if @challenge_evidences.any? %>
        <% @challenge_evidences.each do |evidence| %>
          <% if evidence.image_url %>
            <%= image_tag(evidence.image_url) %>
          <% elsif evidence.external_url %>
            <%= evidence.embed.html_safe %>
          <% else %>
          <% end %>
        <% end %>
      <% end %>

      <%= render partial: 'challenge_evidences/form' if @challenge.user == current_user %>
    </div>
  </div>
</div>
