<%= flash[:notice] %>
<%= @challenge.title_of_challenge %>
</br>
<%= @challenge.name_of_challenger %>
</br>
<%= image_tag(@challenge.display_media) %>

<%= render partial: 'challenge_evidences/form' %>

</br>
<h1>Evidence So Far</h1>
<% unless @challenge_evidences.blank? %>
  <% @challenge_evidences.each do |evidence| %>
    <%= image_tag(evidence.image_url(:thumb).to_s) %>
  <% end %>
<% end %>