<!DOCTYPE html>
<html>
<head>
  <title>DonorsChooseWireframe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="custom-container" id="navbar">
    <div class="row header">
      <div class="twelvecol">
        <h1 class="brand">
          <%= link_to "Donors Challenge", root_path %>
          <span id="user-links">
            <% if current_user %>
              <%= current_user.screen_name %> | 
              <%= link_to "Sign out", sessions_destroy_path, method: :delete %>
            <% else %>
              <%= link_to "Sign in with Twitter", '/auth/twitter' %>
            <% end %>
          </span>
        </h1>
      </div>
    </div>
  </div> <!-- navbar -->

  <div id="page-container">
    <div class="flash-container container">
      <div class="row flash-row">
       <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
          <p class="error"><%= flash[:error] %></p>
        <% end %>
      </div>
    </div>

    <%= yield %>
<!--     <div class="row">
      <div class="twelvecol">
        <div class="footer"></div>
      </div>
    </div> -->
  </div>

</body>
</html>
